@font-face {
    font-family: 'Lexend Deca';
    src: url('fonts/LexendDeca-Regular.eot');
    src: url('fonts/LexendDeca-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('fonts/LexendDeca-Regular.woff') format('woff'),
        url('fonts/LexendDeca-Regular.ttf') format('truetype'),
        url('fonts/LexendDeca-Regular.svg#LexendDeca-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.eot');
    src: url('fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('fonts/RobotoMono-Regular.woff') format('woff'),
        url('fonts/RobotoMono-Regular.ttf') format('truetype'),
        url('fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Regular.eot');
    src: url('fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('fonts/RobotoSlab-Regular.woff') format('woff'),
        url('fonts/RobotoSlab-Regular.ttf') format('truetype'),
        url('fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Guardian';
    src: url('fonts/Guardian.eot');
    src: url('fonts/Guardian.eot?#iefix') format('embedded-opentype'),
        url('fonts/Guardian.woff2') format('woff2'),
        url('fonts/Guardian.woff') format('woff'),
        url('fonts/Guardian.ttf') format('truetype'),
        url('fonts/Guardian.svg#Guardian') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('fonts/MedievalSharp.eot');
    src: url('fonts/MedievalSharp.eot?#iefix') format('embedded-opentype'),
        url('fonts/MedievalSharp.woff2') format('woff2'),
        url('fonts/MedievalSharp.woff') format('woff'),
        url('fonts/MedievalSharp.ttf') format('truetype'),
        url('fonts/MedievalSharp.svg#MedievalSharp') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BigNoodleTooOblique';
    src: url('fonts/BigNoodleTooOblique.eot');
    src: url('fonts/BigNoodleTooOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/BigNoodleTooOblique.woff2') format('woff2'),
        url('fonts/BigNoodleTooOblique.woff') format('woff'),
        url('fonts/BigNoodleTooOblique.ttf') format('truetype'),
        url('fonts/BigNoodleTooOblique.svg#BigNoodleTooOblique') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('fonts/CooperBlack.eot');
    src: url('fonts/CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/CooperBlack.woff2') format('woff2'),
        url('fonts/CooperBlack.woff') format('woff'),
        url('fonts/CooperBlack.ttf') format('truetype'),
        url('fonts/CooperBlack.svg#CooperBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times Newer Roman';
    src: url('fonts/TimesNewerRoman-Regular.eot');
    src: url('fonts/TimesNewerRoman-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TimesNewerRoman-Regular.woff2') format('woff2'),
        url('fonts/TimesNewerRoman-Regular.woff') format('woff'),
        url('fonts/TimesNewerRoman-Regular.ttf') format('truetype'),
        url('fonts/TimesNewerRoman-Regular.svg#TimesNewerRoman-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/TimesNewRomanPSMT.eot');
    src: url('fonts/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/TimesNewRomanPSMT.woff2') format('woff2'),
        url('fonts/TimesNewRomanPSMT.woff') format('woff'),
        url('fonts/TimesNewRomanPSMT.ttf') format('truetype'),
        url('fonts/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.eot');
    src: url('fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('fonts/Ubuntu-Regular.woff') format('woff'),
        url('fonts/Ubuntu-Regular.ttf') format('truetype'),
        url('fonts/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype'),
        url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.eot');
    src: url('fonts/Lobster-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lobster-Regular.woff2') format('woff2'),
        url('fonts/Lobster-Regular.woff') format('woff'),
        url('fonts/Lobster-Regular.ttf') format('truetype'),
        url('fonts/Lobster-Regular.svg#Lobster-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('fonts/ComicSansMS.eot');
    src: url('fonts/ComicSansMS.eot?#iefix') format('embedded-opentype'),
        url('fonts/ComicSansMS.woff2') format('woff2'),
        url('fonts/ComicSansMS.woff') format('woff'),
        url('fonts/ComicSansMS.ttf') format('truetype'),
        url('fonts/ComicSansMS.svg#ComicSansMS') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Light'; /*Futura Lt BT*/
    src: url('fonts/FuturaBT-Light.eot');
    src: url('fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-Light.woff2') format('woff2'),
        url('fonts/FuturaBT-Light.woff') format('woff'),
        url('fonts/FuturaBT-Light.ttf') format('truetype'),
        url('fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura'; /*Futura Md BT*/
    src: url('fonts/FuturaBT-Medium.eot');
    src: url('fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('fonts/FuturaBT-Medium.woff') format('woff'),
        url('fonts/FuturaBT-Medium.ttf') format('truetype'),
        url('fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.eot');
    src: url('fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica.woff2') format('woff2'),
        url('fonts/Helvetica.woff') format('woff'),
        url('fonts/Helvetica.ttf') format('truetype'),
        url('fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueMedium.eot');
    src: url('fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueMedium.woff2') format('woff2'),
        url('fonts/HelveticaNeueMedium.woff') format('woff'),
        url('fonts/HelveticaNeueMedium.ttf') format('truetype'),
        url('fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('fonts/HelveticaNeueThin.eot');
    src: url('fonts/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueThin.woff2') format('woff2'),
        url('fonts/HelveticaNeueThin.woff') format('woff'),
        url('fonts/HelveticaNeueThin.ttf') format('truetype'),
        url('fonts/HelveticaNeueThin.svg#HelveticaNeueThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

