@font-face {
    font-family: 'Lexend Deca';
    src: url('fonts/LexendDeca-Regular.eot');
    src: url('fonts/LexendDeca-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('fonts/LexendDeca-Regular.woff') format('woff'),
        url('fonts/LexendDeca-Regular.ttf') format('truetype'),
        url('fonts/LexendDeca-Regular.svg#LexendDeca-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.eot');
    src: url('fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('fonts/RobotoMono-Regular.woff') format('woff'),
        url('fonts/RobotoMono-Regular.ttf') format('truetype'),
        url('fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Guardian';
    src: url('fonts/Guardian.eot');
    src: url('fonts/Guardian.eot?#iefix') format('embedded-opentype'),
        url('fonts/Guardian.woff2') format('woff2'),
        url('fonts/Guardian.woff') format('woff'),
        url('fonts/Guardian.ttf') format('truetype'),
        url('fonts/Guardian.svg#Guardian') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('fonts/MedievalSharp.eot');
    src: url('fonts/MedievalSharp.eot?#iefix') format('embedded-opentype'),
        url('fonts/MedievalSharp.woff2') format('woff2'),
        url('fonts/MedievalSharp.woff') format('woff'),
        url('fonts/MedievalSharp.ttf') format('truetype'),
        url('fonts/MedievalSharp.svg#MedievalSharp') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BigNoodleTooOblique';
    src: url('fonts/BigNoodleTooOblique.eot');
    src: url('fonts/BigNoodleTooOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/BigNoodleTooOblique.woff2') format('woff2'),
        url('fonts/BigNoodleTooOblique.woff') format('woff'),
        url('fonts/BigNoodleTooOblique.ttf') format('truetype'),
        url('fonts/BigNoodleTooOblique.svg#BigNoodleTooOblique') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('fonts/CooperBlack.eot');
    src: url('fonts/CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/CooperBlack.woff2') format('woff2'),
        url('fonts/CooperBlack.woff') format('woff'),
        url('fonts/CooperBlack.ttf') format('truetype'),
        url('fonts/CooperBlack.svg#CooperBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

